{% extends "base.html" %}
{% block title %}Jouw Reserveringen{% endblock %}
{% block content%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jouw Reserveringen</title>
  </head>
  <body>

    {% if message %}
    <figure class="text-center">
      <blockquote class="blockquote">
        <h1>Jouw reserveringen</h1>
      </blockquote>
      <figcaption class="blockquote-footer">
        Je hebt nog geen reserveringen
      </figcaption>
    </figure>
    {% else %}
    <figure class="text-center">
      <blockquote class="blockquote">
        <h1>Jouw reserveringen</h1>
      </blockquote>
      <figcaption class="blockquote-footer">
        Hieronder vind je al je reserveringen
      </figcaption>
    </figure>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for reservation in reservations %}
            <div class="card">
              <img src="{{ url_for('static', filename='images/'+ reservation.bungalow.fotopath+'.jpg') }}" class="object-fit-fill border rounded" style="object-fit: cover;">
            
              <div class="card-body">
                <h5 class="card-title">{{ reservation.bungalow.naam }}</h5>
                <p class="card-text">Aantal personen: {{ reservation.bungalow.type.aantal_personen }}<br>
                  Gereserveerde week: {{reservation.week}}</p>
                  
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    Wijzig bungalow
                  </button>
                  
                  
                  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Wijzig bungalow</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="{{ url_for('views.change_bungalow', reservation_id=reservation.id) }}" method="post">
                            <select class="form-select" aria-label="Default select example" name="bungalow">
                              {% for bungalow in bungalows %}
                                {% if reservation.bungalow.id == bungalow.id %}
                                  <option value="{{ bungalow.id }}" selected>{{ bungalow.naam }} {{bungalow.type.aantal_personen}}-persoons</option>
                                {% else %}
                                  <option value="{{ bungalow.id }}">{{ bungalow.naam }} {{bungalow.type.aantal_personen}}-persoons</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                            
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
                          <button type="submit" class="btn btn-primary">Wijziging opslaan</button>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  

                
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Wijzig week
                </button>
                
                
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Wijzig week</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{{ url_for('views.change_week', reservation_id=reservation.id) }}" method="post">
                          <label for="week">Selecteer Week:</label>
                          <input type="week" id="week" name="week" required>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
                        <button type="submit" class="btn btn-primary">Wijziging opslaan</button>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
                  
                  
                <a href="{{ url_for('views.delete_reservation', reservation_id=reservation.id) }}" class="btn btn-danger">Verwijder reservering</a>
              </div>
            </div>
        {% endfor %}
      {% endif %}
  </body>
</html>
{% endblock %}
