{% extends "base.html" %} {% block title %}Sign up{% endblock %} {% block
content%}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input 
    type="email" 
    class="form-control" 
    id="email" 
    name="email" 
    placeholder="E-mail address"
    />
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Password"
    />
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Confirm password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
{% endblock %}
