.nav-link {
    outline: 2px solid rgb(76, 122, 221);
    border-radius: 10px;
    padding: 8px 12px;
}
.navbar-nav .nav-item {
    margin-right: 10px; 
}

.jumbotron {
    height: 250px;
}

.logo {
    max-width: 100px;  /* Maximale breedte van het logo aanpassen naar jouw wens */
    max-height: 100px;  /* Maximale hoogte van het logo aanpassen naar jouw wens */
}

.banner-text {
    color: #ffffff;  /* Tekstkleur aanpassen naar jouw wens */
    margin-top: 10px;  /* Ruimte boven de tekst */
}

.blockquote-footer {
    color: white;
}
